coba.exe
game.exe
referensi.c
tubes-game-c.code-workspace
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.vscode/c_cpp_properties.json
build/Debug/outDebug.exe
build/Debug/greeting.o
build/Debug/main.o
build/Debug/menu.o
